$bodyBackground: dodgerblue;

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: $bodyBackground;
	color: white;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}
.img-box {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	
	img {
		width: 100%;
		height: 100%;
	}
}
